/* general */

:root {
  --hue-color: 127;
  --main-color: hsl(var(--hue-color), 100%, 82%);
  --main-color-light: hsl(var(--hue-color), 0%, 20%);
  --main-color-lighter: hsl(var(--hue-color), 0%, 40%);
  --white-color: rgba(255, 255, 255, 0.744);
  --body-color: hsl(var(--hue-color), 5%, 10%);

  /* --container-color: linear-gradient(
    90deg,
    hsl(var(--hue-color), 26%, 4%),
    hsl(var(--hue-color), 17%, 50%)
  ); */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.75rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  background-color: var(--body-color);
  font-size: var(--normal-font-size);
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.hide {
  display: none;
}
/* end general */

/* app style */
.psd__generat-app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.psd__generat-container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.psd__generat-title {
  font-size: var(--h3-font-size);
  color: var(--main-color-lighter);
  text-transform: capitalize;
  text-align: center;
}
.psd__generated {
  background-color: var(--main-color-light);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.psd__generated.error {
  background-color: rgba(101, 2, 2, 0.689);
  animation-name: error;        
  animation-duration: 0.4s;
  animation-timing-function: ease; 
}
.psd__generated span {
  color: var(--main-color-lighter);
  font-size: var(--small-font-size);
  margin-right: 0.125rem; 
  line-height: 1.2;
}
.psd__generated .copy__icon {
  color: var(--main-color);
  font-size: var(--h3-font-size);
  cursor: pointer;
  position: relative;
}

.psd__generated .copy__icon::after{
  content: "copied";
  position: absolute;
  display: inline-block;
  font-size: .7rem;
  top: 0%;
  left: -29px;
  /*right: 0;
  */opacity: 0;
  margin: 0 auto;
  background-color: black;
  padding: .2rem .5rem;
  width: 50px;
  color: var(--white-color);
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.psd__generated .copy__icon.clicked::after{
top: -100%;
opacity: 1;
}
form {
  padding: 1rem;
  background-color: var(--main-color-light);
}
form .form__group:nth-child(1) {
  position: relative;
}
form .form__group:nth-child(1) label {
  font-size: var(--smaller-font-size);
  color: var(--white-color);
}
form .form__group:nth-child(1) input {
  width: 100%;
  height: 5px;
  color: red;
  background-color: var(--body-color);
  outline: none;
  margin-top: 1.5rem;
}

form .form__group:nth-child(1) .psd__generat-nbr {
  color: var(--main-color);
  font-size: var(--h3-font-size);
  position: absolute;
  top: 0;
  right: 0;
}

form .form__group:nth-child(1) input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;
}

form .form__group:nth-child(1) input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;
}

form .form__group:nth-child(2) li {
  list-style: none;
  margin-bottom: 0.7rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);
  text-transform: capitalize;
}

form .form__group:nth-child(2) li .container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form .form__group:nth-child(2) li .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

form .form__group:nth-child(2) li .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid var(--white-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

form .form__group:nth-child(2) li .container:hover input ~ .checkmark {
  border-color: var(--main-color);
}

form .form__group:nth-child(2) li .container input:checked ~ .checkmark {
  background-color: var(--main-color);
  border: 0;
}

form .form__group:nth-child(2) li .container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid var(--body-color);
  content: "";
  position: absolute;
  display: none;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

form .form__group:nth-child(2) li .container input:checked ~ .checkmark:after {
  display: block;
  left: 6px;
  top: 2px;
}

.psd__generat-strength {
  background-color: var(--body-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.psd__generat-strength span {
  color: var(--main-color-lighter);
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
}

.psd__generat-strength div {
  display: flex;
  column-gap: 0.2rem;
}

.psd__generat-strength div span {
  width: 4px;
  height: 16px;
  display: inline-block;
  border: 1px solid var(--white-color);
  margin: 0;
}

.psd__generat-strength div span.active {
  background-color: var(--main-color);
}
.psd__generat-btn {
  padding: 1rem;
  background-color: var(--main-color);
  cursor: pointer;
  border: 1px solid var(--main-color);
  color: var(--body-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.psd__generat-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}
.psd__generat-btn i {
  margin-left: 0.2rem;
}
/* end app style */

/* media query  */

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

/* end media query  */

@keyframes error {
  0% {
    left: 0px;
  }
  25% {
    left: -30px;
  }
  50% {
    left: 20px;
  }
  75% {
    left: -10px;
  }
  100% {
    left: 0;
  }
}
